@{
    ViewBag.Title = "My Platformer game";
}

<h2>Platformer Game </h2>
<hr />
<p>Play a game like Mario!</p>
<ul>
    Features
    <li>Run, jump, and duck to avoid monsters!</li>
    <li>Collect powerups!</li>
</ul>
