
@{
    ViewBag.Title = "My Checkers game";
}

<h2>Checkers </h2>
<hr />
<p>Play checkers with a friend!</p>
<ul>
    Features
    <li>Top down view of game area</li>
    <li>Two player mode</li>
</ul>

