
@{
    ViewBag.Title = "Registration";
}

<h2>Register for an Account</h2>


<div class="container">
    <div class="row">
        <form style="margin:0 auto; padding:10px;">
            <h2 class="form-signin-heading">Complete all fields</h2>
            <div class="form-group col-md-12">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input id="inputEmail" class="form-control" placeholder="Email address" required autofocus type="text" />
            </div>
            <div class="form-group col-md-12">
                <input id="inputPassword" class="form-control" placeholder="Password" required type="text" />
            </div>
            <div class="form-group col-md-12">
                <input id="inputName" class="form-control" placeholder="Name" required type="text" />
            </div>
            <div class="form-group col-md-12">
                <input id="inputPlayerName" class="form-control" placeholder="PlayerName" type="text" />
            </div>
            <!-- Login form             { Html.RenderAction("Login", "Accounts"); }-->
            <button type="submit" class="btn btn-success">Register</button>
            <button type="submit" class="btn btn-warning">Clear</button>

        </form>
    </div>
</div>


<!-- <fieldset class="form-group">

   <!-- <form>
<div
   class="form-group row">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">First and last name</span>
            </div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
        <label for="Major" class="col-sm-2 col-form-label">Major</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Major" placeholder="Major">
        </div>
        <label for="Age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Age" placeholder="Age">
        </div>
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="GenderRadiosMale" value="Male">
                    <label class="form-check-label" for="GenderRadiosMale">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="GenderRadiosFemale" value="Male">
                    <label class="form-check-label" for="GenderRadiosFemale">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="GenderRadiosNeutral" value="Neutral">
                    <label class="form-check-label" for="GenderRadiosNeutral">
                        Neutral/Other
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-success">Submit</button>
            <button type="reset" class="btn btn-outline-warning">Clear</button>

        </div>

    </div>
    </form>-->
