<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/82a23b4b-791b-4271-b77c-4d2e9bc6612e/resourceGroups/CIS174Mesinovic/providers/Microsoft.Web/sites/cis174mesinovic/slots/cis174mesinovic</ResourceId>
    <ResourceGroup>CIS174Mesinovic</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cis174mesinovic-cis174mesinovic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cis174mesinovic-cis174mesinovic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cis174mesinovic__cis174mesinovic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cis174mesinovic__cis174mesinovic</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ben-mesinovic.database.windows.net,1433;Initial Catalog=CIS174PSRING2019;Persist Security Info=False;User ID=BMesinovic;Password=Apppl3$2019;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ben-mesinovic.database.windows.net,1433;Initial Catalog=CIS174PSRING2019;Persist Security Info=False;User ID=BMesinovic;Password=Apppl3$2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ben-mesinovic.database.windows.net,1433;Initial Catalog=CIS174PSRING2019;Persist Security Info=False;User ID=bmesinovic;Password=Apppl3$2019;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SchoolContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ben-mesinovic.database.windows.net,1433;Initial Catalog=CIS174PSRING2019;Persist Security Info=False;User ID=bmesinovic;Password=Apppl3$2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ben-mesinovic.database.windows.net,1433;Initial Catalog=CIS174PSRING2019;Persist Security Info=False;User ID=BMesinovic;Password=Apppl3$2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>