
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>You should have an about page that has the:</p>
<ul>
    <li>name</li>
    <li> email</li>
    <li> and role </li>
</ul>

<p>of each person on your team, or just you if you are solo.</p>
<hr />
<style>
    h2 {
        padding-top: 10px;
    }
</style>
<h2><img src="~/Content/logo.png" style="width:50px; height:50px;" /> About Ben's Fictional Game Company </h2>
<hr />
<h3> Origin</h3>
<p> Ben's Fictional Game Company (FGC) was started in Spring 2019 by Ben!</p>
<p> BFGC makes custom retro copycat  games. </p>

<hr />